name: CI
on:
  push:
    branches:
      - master
      - 'release/**'
  pull_request:
jobs:
  main:
    strategy:
      matrix:
        platform: [ubuntu-20.04, macos-10.15]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/setup-go@v2
      with:
        go-version: 1.16.x
    - uses: actions/checkout@v2
      with:
        fetch-depth: 1
    - run: make
    - run: sudo make install
    - run: go test -covermode=atomic -race -v github.com/lima-vm/sshwebdav/...
    - run: make artifacts
